section {
    margin: 0;
    height: 100vh;
    &>.info-escenario {
        margin: 2em auto 2em auto;
        padding: 2em;
        width: 85vw;
        height: 500px;
        border: solid 2px black;
        border-radius: 15px;   
    }
    article{
        aside{
            float: right;
            div.card{
                border-radius: 1rem;
            }
        }
    }
}


