#tarjetas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .tarjeta {
        margin: 2em;
    }

    .tarjeta:hover {
        animation-name: movimiento-tarjeta;
        animation-duration: 2s;
    }

    @keyframes movimiento-tarjeta {
        40% {
            transform: scale(-1, 1);
            background-color: black;
        }
        75% {
            transform: scale(1, 1);
        }
    }
}
div {
    border: 2px solid royalblue;
    height: 5em;
    margin: 2em;
}