<section id="intro">
    <article class="align-middle" style="width: 900px;">
        <h1>Reino de hielo</h1>
        <p>
            El Dulce Reino o Chuchelandia es un reino gobernado actualmente por la Princesa Dulce.

            Esta hecho de dulce, azúcar y diferentes tipos de postres. Es el reino más popular y recurrente en la serie,
            así como también el reino con más tecnología y seguridad en Ooo, a pesar de estar en su mayoría hecho de
            dulces y de que todo lo que hay en él es comestible.

            La Dulce Gente son los ciudadanos que viven allí, la mayoría de ellos parecen algún tipo de caramelo o
            dulce. Algunas Dulces Personas conocidas son el Señor Panquesito, Choco Fruta, Chet, Mentita y la Doctora
            Helado. Los residentes también incluyen a la Princesa, su mascota Arcoiris, Piñata, entre otros. Las fiestas
            y celebraciones más importantes se celebran aquí lo que puede ser la cultura del reino, o la propia
            personalidad de la Dulce Princesa.

            Se sabe que Finn y Jake visitan el reino en muchas de sus aventuras y también que el Rey Helado frecuenta
            este reino en su intento constante de secuestrar a la Dulce Princesa o simplemente para molestar.
        </p>
    </article>
</section>
<section id="sectionUbicacion">
    <article class="row">
        <div class="d-flex flex-column col-sm-12 col-lg-7 justify-content-start">
            <h2>Ubicacion</h2>
            <p>
                Se encuentra en el sector noroeste de la tierra de Ooo, al lado de este está el Reino Helado y al sur están los Bosques de Algodón de Azúcar.
            </p>
            <div class="images row">
                <img src="/assets/imgs/reino_chuche/reino_chuche_ubicacion_1.gif" class="geo_1 col-5" alt="">
                <img src="/assets/imgs/reino_chuche/reino_chuche_ubicacion_2.jpg" class="geo_1 col-5" alt="">
            </div>
        </div>
    </article>
</section>
<section id="sectionLugares" class="justify-content-center">
    <article>
        <div class="col-12 mb-5" style="text-align: center;">
            <h2>Lugares</h2>
            <ul>
                <li (click)="changeCard(2)">Ducado de la Nuez</li>
                <li (click)="changeCard(1)">Castillo de la princesa dulce</li>
                <li (click)="changeCard(3)">Cooles hotel</li>
            </ul>
        </div>
            <div class="cards" *ngFor="let lugar of lugares">
                <div class="card" *ngIf="this.lugarSelected == lugar.id">
                    <img src="{{lugar.image}}" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">
                            {{lugar.title}}
                        </h3>
                        {{lugar.descripcion}}
                    </div>
                </div>
            </div>
    </article> 

</section>
<section id="sectionGaleria">
    <article>
        <h1>Galeria</h1>
    </article>
</section>