#titulo {
    background-image: url("../../../assets/images/5c80f70f72f5d9028c17ed26.png");
    width: 1069px;
    height: 519px;
    display:block;
    margin: auto;
}
    

#fondo {
    background-image: url("../../../assets/images/wallpaperflare.com_wallpaper.jpg");
    width: 1920px;
    height: 1080px;
}
    
