<!--<div class="dialog">
    <div class="container" *ngFor="let item of seasons; let i = index">
        <h3 routerLink="/seasons/{{item.season_number}}" class="routerLink">{{item.name}}</h3>
        <div  class="container row" >
            <img src="{{urlimg}}{{item.poster_path}}" alt="Portada de la temporada" width="200px" height="300px" class="col-md-3 routerLink" routerLink="/seasons/{{item.season_number}}">
            <span class="col-md-7">{{item.overview}}</span>
        </div>
    </div>
</div>-->
