<img src="/assets/imgs/espacio_grumoso/volver_atras.png" (click)="goToEscenarios()" class="volver_atras" alt="">

<section id="intro" class="espacio-grumoso">
    <article class="align-middle">
        <h1 >Espacio Grumoso</h1>
        <p>
            El Espacio Grumoso (o Grumolandia) es una tierra con forma de nube en el espacio, es el hogar de las
            personas
            del Espacio Grumoso, incluyendo a la Princesa Grumosa y sus padres, el Rey y la Reina del Espacio Grumoso.
            El portal para acceder al espacio grumoso está en el bosque algodón de azúcar, en el interior de una Rana
            sentada en un hongo, y requiere de una contraseña. Aunque se crea que es un reino en la Tierra de Ooo, es
            otra
            dimensión.</p>
    </article>
</section>
<section id="sectionGeografia">
    <article class="row">
        <div class="d-flex flex-column col-sm-12 col-lg-7 justify-content-start first">
            <h2>Geografía</h2>
            <p>
                Es una tierra muy desigual, está formado por nubes con forma de grumos de diferentes tonos de púrpura y azul
                que flotan en el espacio, hay también varios árboles. Existe la gravedad por lo que es peligroso caer en el
                abismo del Espacio Grumoso, por esa razón sus habitantes utilizan coches para volar entre las nubes.
            </p>
            <div class="images mt-4 mb-4 row">
                <img src="/assets/imgs/espacio_grumoso/geo_grumoso_1.jpg" class="geo_1 col-5" alt="">
                <img src="/assets/imgs/espacio_grumoso/geo_grumoso_2.png" class="geo_1 col-5" alt="">
            </div>
        </div>
       <div class="d-flex flex-column col-sm-12 col-lg-5 justify-content-end second">
        <p>
            A los residentes en general no les agradan los extranjeros (denominados por ellos como no-grumosos) y
            tampoco les gusta que entren al Espacio Grumoso, como dicen la rana y el papá de la Princesa Grumosa.
    
            En el Espacio Grumoso se lleva una vida bastante cotidiana, incluso la familia real parece ser una familia
            normal que vive en una casa normal en vez de un castillo, parece haber muchos adolescentes y cada uno tiene
            sus amoríos y su personalidad, incluyendo a la Princesa Grumosa.
    
            También se acostumbra a realizar un "Gran Baile Semanal" que parece ser muy importante para las personas del
            Espacio Grumoso.
    
            Si alguien grumoso se casa en el espacio grumoso, tendrá que ser fusionado con su pareja (según el
            formspring de Pendlenton Ward).
        </p>
        
       </div>
    </article>
</section>
<section id="sectionCultura" class="justify-content-center">
    <article>
        <h2>Cultura</h2>
        <p class="enterRight">
            A los residentes en general no les agradan los extranjeros (denominados por ellos como no-grumosos) y tampoco
            les gusta que entren al Espacio Grumoso, como dicen la rana y el papá de la Princesa Grumosa.
        </p>
        <img src="/assets/imgs/espacio_grumoso/gallery/image_4.png" class="mb-3 mt-3"  alt="">
        <p class="enterLeft"> 
            En el Espacio Grumoso se lleva una vida bastante cotidiana, incluso la familia real parece ser una familia
            normal que vive en una casa normal en vez de un castillo, parece haber muchos adolescentes y cada uno tiene
            sus amoríos y su personalidad, incluyendo a la Princesa Grumosa.
        </p>
        <p class="enterRight">
            También se acostumbra a realizar un "Gran Baile Semanal" que parece ser muy importante para las personas del
            Espacio Grumoso.
        </p>
        <p class="enterLeft">
            Si alguien grumoso se casa en el espacio grumoso, tendrá que ser fusionado con su pareja (según el
            formspring de Pendlenton Ward).
        </p>
    </article>
</section>
<section id="sectionGaleria">
    <article>
        <h1 style="text-align: center;">Galeria</h1>
        <ngb-carousel #carousel [interval]="2000" id="carousel">
            <ng-template ngbSlide *ngFor="let img of images; index as i">
                <div id="imgGaleriaContainer" class="picsum-img-wrapper">
                  <img [src]="img" style="width: 100%; height: 100%;" alt="My image {{i + 1}} description">
                </div>
            </ng-template>
          </ngb-carousel>
    </article>
</section>