@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

section {
    text-shadow: 1px 2px black;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100vh;
    padding: 2em;
    height: 100vh;
    padding: 1.5em;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    article{
        width: 600px;
        height: auto;
        border-radius: 1rem;
    }
}

#intro{
    background: url('/assets/imgs/espacio_grumoso/intro.jpg');
}

#sectionGeografia{
    background: url('/assets/imgs/espacio_grumoso/intro.jpg') no-repeat;
    background-size: cover;
    background-attachment: scroll;
    transform: rotate(180deg);
    justify-content: space-around;
    align-items: center;
    article{
        width: 90%;
        transform: rotate(180deg);
        text-shadow: 1px 2px black;
        div{
            div.images{
                justify-content: center;
                img{
                    width: 300px;
                    height: 250px;
                }
            }
        }
        div.info_geo_1{
            align-self: flex-start;
        }
    }
}
#sectionCultura{
    background: url('/assets/imgs/espacio_grumoso/seccion1.jpg') no-repeat;
    article{
        text-align: center;
        p{
            text-align: left;
        }
        img{
            margin: auto;
            width: 250px;
            height: 150px;
        }
    }
}
#sectionGaleria{
    background: url('/assets/imgs/espacio_grumoso/seccion1.jpg') no-repeat;
    transform: rotate(180deg);
    justify-content: center;
    article{
        height: 50vh;
        width: 50vw;
        transform: rotate(180deg);
        div#imgGaleriaContainer{
            outline: none;
        }
    }
}
@media screen and(max-width: 600px){
    section{
        height: 100vmax;
    }
    #sectionGeografia{
        height: auto;
        article{
            width: auto;
            h2{
                text-align: center;
            }
            div{
                div.images{
                    img{
                        width: 300px;
                        height: 100px;
                    }
                }
            }
        }
    }
    #sectionCultura{
        height: auto;
        padding: 2em 1em 2em 1em;
    }
    #sectionGaleria{
        article{
            height: 80vh;
            width: 80vw;
        }
    }
}