@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
img.volver_atras{
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    height: 200px;
    width: 100px;
    z-index: 10;
}
section {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100vh;
    padding: 2em;
    height: 100vh;
    padding: 1.5em;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    text-shadow: 1px 1px 8px black;
    article{
        width: 600px;
        height: auto;
        border-radius: 1rem;
    }
}

#intro{
    background: url("/assets/imgs/reino_fuego/reino_fuego_intro.png");
    background-size: cover;
}

#sectionUbicacion{
    background: url('/assets/imgs/reino_fuego/reino_fuego_ubicacion.png') no-repeat;
    background-size: cover;
    background-attachment: scroll;
    justify-content: space-around;
    align-items: center;
    article{
        width: 90%;
        div{
            div.images{
                justify-content: center;
                img{
                    width: 300px;
                    height: 250px;
                }
            }
        }
        div.info_geo_1{
            align-self: flex-start;
        }
        div.banner_apariencia{
            img{
                width: 350px;
                height: 150px;
            }
        }
    }
}
#sectionHabitantes{
    background: url('/assets/imgs/reino_fuego/reino_fuego_habitantes.png') no-repeat right center;
    background-size: cover;
    article{
        position: relative;
        width: 60vw;
        height: 60vh;
        div{
            ul{
                padding: 0;
                margin: 0;
                list-style: none;
                justify-content: center;
                li{
                    margin: auto;
                    cursor: pointer;
                    margin-block: 10px;
                    width: fit-content;
                    padding: 5px 20px 5px 20px;
                    background-color: #a80038;
                    border-radius: 10px;
                    border: 1px solid #fd0054;

                }
                li:hover{
                    background:darken($color: #fc5c9c, $amount: 10)
                }
            }
            
        }
        div.habitantes{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        div.cards{
            div.card{
                display: none;
                color: white;
                text-shadow: none;
                background: rgba($color: #c03546, $alpha: .7);
                border: none;
                .card-body{
                    background: linear-gradient(#c03546,#ffa45c);
                }
                img{
                    width: 100%;
                    height: 300px;
                }
            }    
        }
    }

}
#sectionGaleria{
    background: url('/assets/imgs/reino_fuego/reino_fuego_gallery_wallpaper.jpg') no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: flex-start;
    article{
        height: 50vh;
        width: 50vw;
    }
}

@media screen and(max-width: 1100px){
    #sectionHabitantes{
        height: auto;
        align-items: flex-start;
        article{
            width: 80vw;
            height: auto;
        }
        div.cards{
            margin: auto;
        }
        div.habitantes{
            position: relative !important;
            top: 50%;
        }
    }
}

@media screen and(max-width: 600px){
    section{
        height: 100vmax;
    }
    #sectionHabitantes{
        height: auto;
        align-items: flex-start;
        article{
            width: 80vw;
            height: auto;
        }
        div.lugares{
            position: relative !important;
            top: 50%;
        }
    }
    #sectionGaleria{
        align-items: center;
        article{
            width: 80vw;
        }
    }
}