
<div class="sectionContainer">
  <section #section class="d-flex h-100 vh-100 seccion">
      <article id="reinoFuego" class="d-flex">
        <div class="content align-self-center">
          <h1>Reino Fuego</h1>
          <a routerLink="reino-fuego">Entrar</a>
        </div>
      </article>
      <article id="reinoChuche" class="d-flex">
        <div class="content align-self-center">
          <h1>Reino Chuche</h1>
          <a routerLink="reino-chuche">Entrar</a>
        </div>
      </article>
      <article id="reinoGrumoso" class="d-flex">
        <div class="content align-self-center">
          <h1>Espacio grumoso</h1>
          <a routerLink="espacio-grumoso">Entrar</a>
        </div>
      </article>
      <article id="reinoHielo" class="d-flex">
        <div class="content align-self-center">
          <h1>Reino de Hielo</h1>
          <a routerLink="reino-hielo">Entrar</a>
        </div>
      </article>
  </section>
</div>