@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

section {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100vh;
    padding: 2em;
    height: 100vh;
    padding: 1.5em;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    article{
        width: 600px;
        height: auto;
        border-radius: 1rem;
    }
}

#intro{
    background: url('/assets/imgs/reino_hielo_intro.jpg') no-repeat;
    background-size: cover;
}

#sectionUbicacion{
    background: url('/assets/imgs/reino_helado_ubicacion.png') no-repeat;
    background-size: cover;
    background-attachment: scroll;
    justify-content: space-around;
    align-items: center;
    article{
        width: 90%;
        div{
            div.images{
                justify-content: center;
                img{
                    width: 300px;
                    height: 250px;
                }
            }
        }
        div.info_geo_1{
            align-self: flex-start;
        }
        div.banner_apariencia{
            img{
                width: 350px;
                height: 150px;
            }
        }
    }
}
#sectionCuriosidades{
    background: url('/assets/imgs/reino_helado_curiosidades.jpg') no-repeat center;
}
#sectionGaleria{
    background: url('/assets/imgs/curiosidades.jpg') no-repeat;
    article{

    }
    
}
@media screen and(max-width: 600px){
    section{
        height: 100vmax;
    }
    #sectionGeografia{
        height: auto;
        article{
            width: auto;
            div{
                div.images{
                    img{
                        width: 300px;
                        height: 150px;
                    }
                }
            }
        }
    }
}